$primary1: #0052CC;
$primary2: #3782F0;
$primary3: #FFFFFF;

$borderColor1: #F2F4FA;
$borderColor2: #D6D9E6;
$borderColor3: #E9EBF7;

$textColor1: #151A3B;
$textColor2: #5B617E;
$textColor3: #8B8FA3;
$textColor4: #FFFFFF;

$shadow: 0 0 5px rgba(0, 0, 0, 0.3);
$transition: all ease 0.3s;
